moviepy==2.1.1
numpy==2.2.0
opencv-python-headless==4.10.0.84
pillow==10.4.0
python-dotenv==1.0.1
requests==2.32.3
anthropic==0.40.0
decorator==5.1.1
imageio==2.36.1
imageio-ffmpeg==0.5.1
tqdm==4.67.1
google-api-python-client